<div class=" animation-duration-1000 animation-ease-in flex flex-column align-items-center gap-7">
  <span class="text-6xl font-light">EXPERIENCE</span>
  <!-- <span class="text-600 text-6xl font-light">EXPERIENCE</span> -->
  <!-- <hr class="hr-gradient" /> -->
  <div class="flex flex-column align-items-center gap-5 p-5 experience-card">
    <app-experience-item
      *ngFor="let experienceItem of experienceItems"
      [collapsed]="experienceItem.collapsed"
      [title]="experienceItem.title"
      [company]="experienceItem.company"
      [location]="experienceItem.location"
      [date]="experienceItem.date"
      [description]="experienceItem.description"
      [primaryTechs]="experienceItem.primaryTechs"
      [secondaryTechs]="experienceItem.secondaryTechs"
      [otherTechs]="experienceItem.otherTechs"
      [url]="experienceItem.url"
    ></app-experience-item>
  </div>
</div>
