.hr-gradient {
    // background: -webkit-linear-gradient(60deg, var(--primary-600) 30%, var(--pink-600) 90%);
    border-image: linear-gradient(to right, var(--primary-600) 30%, var(--pink-600) 120%) 1;
    border-width: 0.5px;
    max-width: 600px;
    margin-left: 0;
}

.gradient-bg {
    background: linear-gradient(to right, var(--primary-600) 30%, var(--pink-600) 120%) ;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}