img {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.text-gradient {
    background: -webkit-linear-gradient(60deg, var(--indigo-600) 0%, var(--pink-500) 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}