  <div class="flex flex-column gap-4 sm:gap-7 align-items-center sm:mt-5 sm:pt-6">
    <div class="flex gap-2 sm:gap-4 fadein animation-duration-1000 main-wrapper">
      <img src="assets/DLopez-cv-picture-transparent.png" alt="Daniel Lopez picture" class="w-7rem sm:w-11rem">
      <div class="flex flex-column justify-content-between text-4xl sm:text-6xl text-800 font-light">
        <span class="">DANIEL</span>
        <span class="">LÓPEZ</span>
        <span class="">FERNÁNDEZ</span>
      </div>
    </div>
    <span class="text-6xl sm:text-7xl text-pink-900 text-center fadein animation-duration-1000" style="-webkit-text-stroke: 2px var(--pink-700); text-shadow: 0 0 10px var(--pink-700), 0 0 10px var(--pink-700)">SOFTWARE ENGINEER</span>
    <div class="flex gap-4 fadein animation-duration-1000 mt-5 sm:mt-0">
      <p-button styleClass="bg-pink-400 border-none" [size]="'large'" [rounded]="true" icon="pi pi-phone" [disabled]="true"></p-button>
      <p-button styleClass="bg-pink-400 border-none" [size]="'large'" [rounded]="true" icon="pi pi-envelope" [disabled]="true"></p-button>
      <a  href="https://www.linkedin.com/in/daniel-lopez-fernandez-b14a9512a/" target="_blank" class="button-enabled">
        <p-button styleClass="bg-pink-500 hover:bg-pink-400 transition-duration-300 border-none" [size]="'large'" [rounded]="true" icon="pi pi-linkedin"></p-button>
      </a>
    </div>
  </div>
  <!-- <p class="text-500 text-center mt-5">Comming from a backend-focused education, self-learned frontend in order to open more paths, discovering a passion for dessign in the way.</p>
  <p class="text-500 text-center mt-5">💫 I can do all things 💫 </p> -->
  <!-- Fullstack developer with Angular and Java as main strengths. Comming from a backend-focused education, self-learned frontend in order to open more paths, discovering a passion for dessign in the way. -->
