  <div 
    class="flex justify-content-between flex-wrap row-gap-3" 
    style="border-color: rgba(200, 200, 200, 0.2);"
  >      <!-- pb-5 border-bottom-1 -->
    <div class="flex gap-3">
      <img src="assets/DLopez-cv-picture.png" alt="Daniel Lopez picture" class="w-9rem">
      <div class="flex flex-column justify-content-between py-1">
        <div class="flex flex-column gap-1 sm:gap-2">
          <span class="text-2xl sm:text-3xl text-700">DANIEL</span>
          <span class="text-2xl sm:text-3xl text-700">LÓPEZ</span>
          <span class="text-2xl sm:text-3xl text-700">FERNÁNDEZ</span>
        </div>
        <span class="text-2xl text-gradient-gold">SOFTWARE ENGINEER</span>
      </div>
    </div>
    <div class="w-full justify-content-end align-items-end mt-2 sm:mt-4 gap-3">
      <p-button styleClass="bg-primary-400 border-none" [size]="'small'" [rounded]="true" icon="pi pi-phone" [disabled]="true"></p-button>
      <p-button styleClass="bg-primary-400 border-none" [size]="'small'" [rounded]="true" icon="pi pi-envelope" [disabled]="true"></p-button>
      <a  href="https://www.linkedin.com/in/daniel-lopez-fernandez-b14a9512a/" target="_blank">
        <p-button styleClass="bg-primary-700 border-none" [size]="'small'" [rounded]="true" icon="pi pi-linkedin"></p-button>
      </a>
    </div>
  </div>
  <!-- <p class="text-500 text-center mt-5">Comming from a backend-focused education, self-learned frontend in order to open more paths, discovering a passion for dessign in the way.</p>
  <p class="text-500 text-center mt-5">💫 I can do all things 💫 </p> -->
  <!-- Fullstack developer with Angular and Java as main strengths. Comming from a backend-focused education, self-learned frontend in order to open more paths, discovering a passion for dessign in the way. -->
