img {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    mask-image: linear-gradient(to right, black 0%, black 70%, transparent 100%);
}

.text-gradient {
    background: -webkit-linear-gradient(60deg, var(--primary-400) -20%, var(--pink-600) 90%); //-webkit-linear-gradient(60deg, var(--primary-500) 0%, var(--pink-600) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background: linear-gradient(to right, var(--primary-600) 0%, var(--pink-600) 90%) ;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.button-enabled:hover {
    box-shadow: 0px 0px 20px 5px var(--pink-700);
    border-radius: 50%;
    transition-property: box-shadow;
    transition-duration: 300ms;
}

.main-wrapper {
    // background: linear-gradient(to right, var(--pink-700) 0%, var(--pink-700) 30%, transparent 40%, transparent 100%);
    // box-shadow: 0px 0px 40px 20px var(--pink-700);
    padding: 1px;
    border-radius: 10px;
}