<div class=" animation-duration-1000 animation-ease-in flex flex-column align-items-center gap-7">
  <div class="flex flex-column gap-4 align-items-center justify-content-center">
    <span #title class="text-6xl font-light opacity-0 animation-duration-1000 text-700">Education</span>   <!-- style="letter-spacing: .2rem;" -->
    <!-- Bear in mind, other subtitles are text-2xl sm:text-3xl -->
    <span #subtitle class="text-center text-3xl text-500 font-light opacity-0 animation-duration-1000">University degrees and other adventures.</span>
  </div>
  <!-- <p-timeline [value]="events" [layout]="'horizontal'">
    <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      <small class="p-text-secondary">{{ event.status }}</small>
    </ng-template>
  </p-timeline> -->
  <!-- <div class="overflow-x-scroll"> -->

    <!-- <p-timeline [value]="events" styleClass="customized-timeline" [layout]="'horizontal'">
      <ng-template pTemplate="marker" let-event>
          <span 
              class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1" 
              [style]="{ 'background-color': event.color }">
                  <i [class]="event.icon"></i>
          </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
          <p-card [header]="event.status" [subheader]="event.date" styleClass="w-15rem mx-3">
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                  neque quas!
              </p>
          </p-card>
      </ng-template>
      <ng-template pTemplate="opposite" let-event>
        <span class="text-white w-full flex align-content-start"> {{event.date}} </span>
      </ng-template>
    </p-timeline> -->

  <!-- </div> -->
   <!-- <div class="relative w-full">   -->
       <!-- border-1 border-round border-400 py-3 -->
     <!-- <div class="absolute w-full top-0 timeline-container border-1" style="height: 95%;"></div> -->
    <div #timeline class="w-full overflow-x-scroll timeline-container px-5 flex xl:justify-content-center opacity-0 animation-duration-1000" id="timeline">
      <app-timeline [events]="events"></app-timeline>
    </div>
   
   <!-- </div> -->
   <!-- <div class="border-1 px-5 w-full border-1">

   </div> -->
</div>