<div class="project-card xl:flex-1">
  <div class="flex justify-content-between">
    <div class="flex flex-column">
      <p class="text-primary-600 text-lg mb-0">{{title}}
        <span class="font-light text-primary-700">
          at 
          <a 
            href="https://akkodis.com" 
            target="_blank"
            class="text-primary-700 hover:text-pink-500 transition-duration-300"
            style="text-decoration: none;"
          >
            {{company}}
          </a>
        </span>
      </p>
      <p class="text-500 flex align-items-center gap-2 mt-3"><i class="pi pi-map-marker"></i>{{location}}</p>
    </div>
  </div>
  <div class="text-700 text-justify">
    {{description}}
  </div>
</div>