<p-panel 
  #expandablePanel 
  styleClass="project-panel cursor-pointer" 
  [toggleable]="true" 
  (click)="!companyUrlHovered ? expandablePanel.toggle($event) : null"
  [(collapsed)]="collapsed"
> 
  <!-- EXPAND ICON -->
  <div class="absolute flex align-items-end pb-1 expand-icon" [style]="'bottom: 2rem; left: 47%;' + (!expandablePanel.collapsed ? 'color: transparent;' : 'color: var(--surface-300);')">
    <i [class]="' ' + (expandablePanel.collapsed ? 'pi pi-plus' : '')"></i> 
  </div>
  <ng-template pTemplate="header">
    <div class="relative flex flex-column text-center align-items-center w-full pb-3">
      <!-- <div class="flex flex-column text-center align-items-center w-full" style="min-height: 7rem;"> -->
        <!-- TITLE -->
         <div class="title">
        <p class="text-500 text-lg mb-0"> 
          {{title}} 
          <span *ngIf="company" class="font-light text-400">
            at
            <a 
              href="{{url}}" 
              target="_blank" 
              (mouseenter)="companyUrlHovered=true" 
              (mouseleave)="companyUrlHovered=false"
              class="text-pink-500 hover:text-cyan-500 "
            >
              {{company}} 
            </a>
          </span>
        </p>
      </div>
        <!-- LOCATION AND DATE -->
        <p class="text-300 flex flex-wrap align-items-center justify-content-center gap-2 mt-2">
          <span>
            <!-- <i class="pi pi-map-marker mr-1 sm:mr-2"></i> -->
            {{location}}</span> <span class="text-200 font-light">|</span> <span>{{date}}</span>
        </p>
      <!-- </div> -->
    </div>
  </ng-template>
  <div class="flex flex-column justify-content-between h-full">
    <p #theDescription class="text-400 text-justify">
      {{description}}
    </p>
    <div class="flex justify-content-center transition-duration-300'">    <!-- [class]="expandablePanel.collapsed ? 'text-100' : 'text-200' -->
      <i [class]="'pi pi-chevron-up'"></i>
    </div>
  </div>
</p-panel>