<div class="sections-wrapper">
  <div class="section py-8">
    <div class="star-layers overflow-hidden">
      <div class="star-layer" id="stars"></div>
      <div class="star-layer" id="stars2"></div>
      <!-- <div class="star-layer" id="stars3"></div> -->
    </div>
    <app-personal-info></app-personal-info>
  </div>
  <!-- <div class="blur-line"></div> -->
  <div class="section pt-0 sm:pt-5" style="margin-top: 8rem; padding-bottom: 7rem;">
    <div class="experience-bg" appParallax [ratio]="0.5"></div>
    <app-experience-section ></app-experience-section>
  </div>
  <div class="section w-full" style="padding-top: 7rem; padding-bottom: 7rem;">
    <!-- <div class="other-projects-bg" appParallax [ratio]="1" ></div>    --><!-- style="background: linear-gradient(to right, black 30%, var(--pink-600) 220%) ;" -->
    <app-other-projects-section></app-other-projects-section>
  </div>
  <div class="section pt-0 sm:pt-5" style="margin-top: 8rem; padding-bottom: 7rem;">
    <div class="education-bg" appParallax [ratio]="0.7"></div>
    <app-education-section ></app-education-section>
  </div>
  <div class="section pt-0 sm:pt-5" style="margin-top: 8rem; padding-bottom: 7rem;">
    <!-- <div class="" appParallax [ratio]="0.3"></div> -->
    <div class="star-layers overflow-hidden">
      <div class="star-layer" id="stars"></div>
      <div class="star-layer" id="stars2"></div>
      <!-- <div class="star-layer" id="stars3"></div> -->
    </div>
    <app-aboutme-section ></app-aboutme-section>
  </div>
</div>
