.sections-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    // width: 100%;
    // max-width: 1200px;
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

    @media(max-width: 1300px) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @media(max-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media(max-width: 576px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

:host::ng-deep .sidebar {
  background: linear-gradient(to right, black 70%, var(--pink-900) 300%) ;
  border-width: 0px;
}

.experience-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image:url("../assets/dotsbg-pink.png");
    filter: blur(150px);
    -webkit-filter: blur(140px);
    // border-top: 30px solid var(--primary-600);
    // border-bottom: 30px solid var(--pink-600);
    background-size: cover;
    // border-top: 100px solid black;
}

.other-projects-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: black;
    background-size: cover;
}

.education-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image:url("../assets/dotsbg-fliped-pink.png");
    filter: blur(150px);
    -webkit-filter: blur(150px);
    // border-top: 30px solid var(--primary-600);
    // border-bottom: 30px solid var(--pink-600);
    background-size: cover;
    // border-top: 100px solid black;
}

// .blur-line {
//     /* The image used */
//     background-image:url(http://static4.wikia.nocookie.net/__cb20130612023354/harrypotter/images/d/d1/Gradient-blue-background.jpg);

// /* Add the blur effect */
// filter: blur(8px);
// -webkit-filter: blur(8px);

// /* Full height */
// height: 100%;

// /* Center and scale the image nicely */
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

// border: 1px solid red;
// }



//////////////////////// STARS BG /////////////////////////


// Define a keyframe animation for stars
@keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  
  // Function to generate multiple box-shadow values for stars
  @function multiple-box-shadow($number_of_stars) {
    $value: "#{random(2000)}px #{random(2000)}px var(--primary-200)"; // Initial shadow
    @for $i from 2 through $number_of_stars {
      $value: "#{$value}, #{random(2000)}px #{random(2000)}px var(--primary-200)"; // Add more shadows
    }
    @return unquote($value); // Return the concatenated value
  }
  
  // Generate different sets of box-shadow values for stars of varying sizes
  $shadows-small: multiple-box-shadow(60); // Small stars 700
  $shadows-medium: multiple-box-shadow(30); // Medium stars 200
//   $shadows-big: multiple-box-shadow(15); // Big stars 100
  
  // Styling for the star layers container
  .star-layers {
    // height: 100vh;
    // background: linear-gradient(to bottom right, rgba(10,10,10) 0%, rgba(40,40,40) 100%);
    // overflow: hidden;
    //  position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
    // background-color: black;
    // background-size: cover;
  
    // Styling for each star layer
    .star-layer {
      position: absolute;
      width: 1px;
      height: 1px;
      // background-color: var(--primary-200);
      // // background: radial-gradient( var(--primary-500) 0%, white 100%);
      // border-radius: 50px;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(
        hsl(180, 100%, 80%),
        hsl(180, 100%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );
  
      &::after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background-color: var(--primary-200);
        border-radius: 50px;
      }
    }
  
    // Apply styles to each star layer with different sizes
    #stars {
      box-shadow: $shadows-small; // Apply small star shadows
      animation: animStar 50s linear infinite;
      &::after {
        box-shadow: $shadows-small; // Apply small star shadows to pseudo-element
      }
    }
  
    #stars2 {
      width: 3px;
      height: 3px;
      box-shadow: $shadows-medium; // Apply medium star shadows
      animation: animStar 100s linear infinite;
      &::after {
        width: 3px;
        height: 3px;
        box-shadow: $shadows-medium; // Apply medium star shadows to pseudo-element
      }
    }
  
    // #stars3 {
    //   width: 7px;
    //   height: 7px;
    //   box-shadow: $shadows-big; // Apply big star shadows
    //   animation: animStar 200s linear infinite;
    //   &::after {
    //     width: 6px;
    //     height: 6px;
    //     box-shadow: $shadows-big; // Apply big star shadows to pseudo-element
    //   }
    // }
  }