.sections-wrapper {
  display: flex;
  flex-direction: column;

  @media(min-width: 1700px) {
    align-items: center;
  }
}

.section {
  position: relative;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  max-width: 1700px;

  @media(max-width: 1300px) {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  @media(max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media(max-width: 576px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

:host::ng-deep .sidebar {
  background: linear-gradient(to right, black 70%, var(--pink-900) 300%) ;
  border-width: 0px;
}

.experience-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image:url("../assets/images/dotsbg.png");
  background-size: cover;
  filter: blur(150px);
  -webkit-filter: blur(140px);
  // border-top: 30px solid var(--primary-600);
  // border-bottom: 30px solid var(--pink-600);
}

.education-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image:url("../assets/images/dotsbg-flipped.png");
  background-size: cover;
  filter: blur(150px);
  -webkit-filter: blur(150px);
  // border-top: 30px solid var(--primary-600);
  // border-bottom: 30px solid var(--pink-600);
}

// .other-projects-bg{
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   top: 0;
//   z-index: -1;
//   filter: blur(5px);
//   -webkit-filter: blur(5px);
//   border-top: 10px solid black;
//   border-bottom: 10px solid black;
//   background-color: black;
//   background-size: cover;
// }