<button
  pButton 
  (click)="sidebarVisible = true" 
  icon="pi pi-bars" 
  style="background-color: transparent; z-index: 1; left: 0.5rem;"
  class="border-none text-white sm:ml-5 sm:mt-5 fixed top-0"
  size="large"
></button>
<p-sidebar [(visible)]="sidebarVisible" styleClass="sidebar w-full sm:w-20rem">
  <div class="flex flex-column gap-6 sm:gap-5 sm:pl-4 pt-5 align-items-center sm:align-items-start">
    <!-- <a href="#home" (click)="closeSidebar()" style="text-decoration: none;" class="text-700 text-2xl uppercase">Home</a> -->
    <a href="#experience" (click)="closeSidebar()" style="text-decoration: none;" class="text-700 text-5xl sm:text-4xl hover:text-pink-600 transition-duration-300">Experience</a>
    <a href="#otherprojects" (click)="closeSidebar()" style="text-decoration: none;" class="text-700 text-5xl sm:text-4xl hover:text-pink-600 transition-duration-300">Other projects</a>
    <a href="#education" (click)="closeSidebar()" style="text-decoration: none;" class="text-700 text-5xl sm:text-4xl hover:text-pink-600 transition-duration-300">Education</a>
    <a href="#aboutme" (click)="closeSidebar()" style="text-decoration: none;" class="text-700 text-5xl sm:text-4xl hover:text-pink-600 transition-duration-300">About me</a>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center sm:justify-content-start mb-8 sm:ml-4">
      <a href="assets/files/Daniel-Lopez-Fernandez_CV_w.pdf" download="Daniel-Lopez-Fernandez_CV.pdf" style="box-shadow: 0px 0px 20px 5px var(--pink-700); border-radius: 30%;" class="bg-pink-900">
        <p-button [rounded]="true" label="Download CV" icon="pi pi-arrow-down" styleClass="bg-pink-600 hover:bg-pink-500 border-none text-xl sm:text-base"></p-button>
      </a>
    </div>
  </ng-template>
</p-sidebar>