<div class="flex flex-column align-items-center gap-7">
  <span #title class="text-5xl gradient-bg font-light opacity-0 animation-duration-1000 text-white">OTHER PROJECTS</span>

  <div #cards class="flex gap-5 flex-wrap justify-content-center opacity-0 animation-duration-1000">
    <div *ngFor="let project of otherProjects"class="md:w-5">
      <app-other-projects-item
        [title]="project.title"
        [company]="project.company"
        [location]="project.location"
        [description]="project.description"
      >
      </app-other-projects-item>
    </div>
    <!-- <div class="project-card xl:flex-1">
      <div class="flex justify-content-between">
        <div class="flex flex-column">
          <p class="text-primary-600 text-lg mb-0">International Graduate Consultant
            <span class="font-light text-primary-700">
              at 
              <a 
                href="https://akkodis.com" 
                target="_blank"
                class="text-primary-700 hover:text-pink-500 transition-duration-300"
                style="text-decoration: none;"
              >
                AKKA Technologies (now AKKODIS) 
              </a>
            </span>
          </p>
          <p class="text-500 flex align-items-center gap-2 mt-3"><i class="pi pi-map-marker"></i>Nice, France | 2020</p>
        </div>
      </div>
      <p class="text-700 text-justify">We were developing a <span class="font-bold text-600">Virtual Reality</span> app for <span class="font-bold text-pink-600">Android</span>
        (using <span class="font-bold text-pink-600">Java</span>) when the project got on hold due to the 
        Coronavirus crisis. Being put under partial 
        unemployment until new projects were available, I took 
        this time to learn new technologies and improve my 
        French skills.</p>
    </div> -->
    
    <!-- <div class="project-card xl:flex-1">
      <div class="flex justify-content-between">
        <div class="flex flex-column">
          <p class="text-primary-600 text-lg mb-0">Final thesis - Android App for Sharing Musical Resources </p>
          <p class="text-500 flex align-items-center gap-2 mt-3"><i class="pi pi-map-marker"></i>University of Málaga – Málaga, Spain | March-June 2019</p>
        </div>
      </div>
      <p class="text-700 text-justify">Developed an <span class="font-bold text-pink-600">Android</span> app that lets the user generate 
        a video from a song and share it in social media. Used 
        <span class="font-bold text-600">Android Studio</span> and <span class="font-bold text-pink-600">Java</span>.</p>
    </div>

    <div class="project-card xl:flex-1">
      <div class="flex justify-content-between">
        <div class="flex flex-column">
          <p class="text-primary-600 text-lg mb-0">International Graduate Consultant
            <span class="font-light text-primary-700">
              at 
              <a 
                href="https://akkodis.com" 
                target="_blank"
                class="text-primary-700 hover:text-pink-500 transition-duration-300"
                style="text-decoration: none;"
              >
                AKKA Technologies (now AKKODIS) 
              </a>
            </span>
          </p>
          <p class="text-500 flex align-items-center gap-2 mt-3"><i class="pi pi-map-marker"></i>Nice, France | 2020</p>
        </div>
      </div>
      <p class="text-700 text-justify">We were developing a <span class="font-bold text-600">Virtual Reality</span> app for <span class="font-bold text-pink-600">Android</span>
        (using <span class="font-bold text-pink-600">Java</span>) when the project got on hold due to the 
        Coronavirus crisis. Being put under partial 
        unemployment until new projects were available, I took 
        this time to learn new technologies and improve my 
        French skills.</p>
    </div> -->

  </div>
</div>