.gradient-bg {
  // background: linear-gradient(to right, var(--primary-600) 30%, var(--pink-600) 120%) ;
  // padding-left: 1rem;
  // padding-right: 1rem;
  // color: black;
}

.project-card {
  border: 1px solid var(--surface-100);
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  
  background: color-mix(in srgb, var(--surface-100) 35%, transparent);//var(--surface-100);//rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}